include ./common/navbar.pug
include ./common/head.pug
include ./include/mixinCharacterCard.pug
include ./include/mixinComment.pug

doctype html
html(lang="en")
    +head("Anime Page")
    link(rel="stylesheet" href="./css/animePage.css")
    body 
        - let navUserName = 'dada da';
        +navbar(navUserName)
        //h5 Anime is : #{anime.numberOfComments}

        .container.mt-5
            .row
                .col-3
                    .animeCard.rounded
                        - const myAnime = {};
                        - myAnime.imgPath = './images/Naruto.jpg';

                        .image-container.d-flex.justify-content-center
                            img.animeImg.rounded(src=myAnime.imgPath, alt="")

                        .addButtonDiv.d-flex.justify-content-center.my-3
                            button.btn.btn-primary.rounded(type='button') Add to Watchlist




                .col-9
                    .animeContent.px-5
                        .container-fluid 
                            .row.bg-dark.text-white.pt-3.px-3.rounded.mb-5
                                .col-12          
                                    .animeTitle.mb-2
                                        h2 #{anime.title}
                                    .authorDiv
                                        p Author : #{anime.author}
                                .col-12.mt-4.pb-3.px-2
                                    .personalRatingDiv.float-end.mx-3
                                        span.averageRatingDiv.bg-info.p-3.text-white Personal Rating
                                        span.averageRatingValueDiv.bg-white.text-dark.p-3 #{anime.personalRating}

                                    .ratingDiv.float-end.mx-3
                                        span.averageRatingDiv.bg-primary.p-3.text-white Average Rating
                                        span.averageRatingValueDiv.bg-white.text-dark.p-3 #{anime.averageRating}

                                    p Number of episodes : #{anime.numberOfEpisodes}


                            .row.mt-4
                                .descriptionDiv.mb-5
                                    p #{anime.description}
                            .row   
                                .genresDiv.d-flex.justify-content-start.gap-3 
                                    p Genres :
                                    each genre in anime.genres
                                        a.link-primary(href=`/anime/genre/${genre}`) #{genre}


            .row 
                .col-12 
                    .charactersDiv.container.mt-3
                        h4 List of characters
                        .row.pt-2
                            -for(let i=0; i<8 && i<anime.characters.length; i++)
                                -anime.characters[i].imgPath = './images/characters/naruto/asd (6).png';
                                +mixinCharacterCard(anime.characters[i])

                -if(anime.characters.length > 8)
                    .row
                        .col-12
                            .container-fluid
                                button.col-2.rounded.btn.btn-primary(type='button' onclick=`location.href = '/${type}/characters/${anime.title}';`) See All Characters



            .row.mt-5.pt-5
                .col-12 
                    .reviewsDiv(class=`page${page}`)
                        -for(let i=0; i<10 && i<anime.comments.length; i++)
                            +mixinComment(anime.comments[i])

            .row.my-5
                .container
                    .row.d-flex.justify-content-center.g-5
                        -let prevPage = parseInt(page)-1;
                        -let nextPage = parseInt(page)+1; 
                        -if(page > 1)
                            .col-2
                                button#prevButton.col-12.btn.btn-primary.rounded(type='button' onclick=`location.href = '/${type}/${anime.title}/page/${prevPage}';`) Previous
                        -if(parseInt(anime.numberOfComments) / parseInt(page) > 8)
                            .col-2
                                button#nextButton.col-12.btn.btn-primary.rounded(type='button' onclick=`location.href = '/${type}/${anime.title}/page/${nextPage}';`) Next

            .row.pt-5

        script(src="./js/animePage.js") 
