include ./common/navbar.pug
include ./common/head.pug
include ./include/mixinCharacterCard.pug
include ./include/mixinComment.pug

doctype html
html(lang="en")
    +head(`${type} Page`)
    link(rel="stylesheet" href="./css/animePage.css")
    body 
        +navbar(userName, userRole, userAvatar)

        .container.mt-5.top-level-container(data-animeTitle = `${anime.title}` data-type=`${type}`)
            .row.mb-5.pb-3
                .col-3.animeLeftDiv
                    .animeCard.rounded
                        - const myAnime = {};

                        .image-container.d-flex.justify-content-center.mb-4
                            -if(anime.image && anime.image != '')
                                img.animeImg.rounded(src=`${anime.image}`, alt="")
                            -else
                                img.animeImg.rounded(src=`./images/login-bg.jpg`, alt="")

                        -if(!anime.myStatus)
                            .addButtonDiv.d-flex.justify-content-center.my-3
                                button.btn.btn-primary.rounded(type='button' onclick='addToWatchlistAction()') Add to Watchlist
                        -else
                            .editButtonDiv.align-items-center.my-3
                                h6.float-start.mt-2
                                    | #{anime.myStatus}
                                    -if(anime.myStatus == 'Completed')
                                        | &nbsp ✔
                                    -else if(anime.myStatus == 'Currently watching')
                                        | &nbsp 📺
                                button.btn.float-end.btn-danger.btn-sm.rounded(type='button' onclick=`removeFromWatchlistAnimeAction('${anime.watchlistAnimeUuid}')`) Remove
                                button.btn.float-end.me-2.btn-primary.btn-sm.rounded(type='button' onclick=`editFromWatchlistAnimeAction('${anime.watchlistAnimeUuid}')`) Edit




                .col-9
                    .animeContent.px-5
                        .container-fluid 
                            .row.bg-dark.text-white.pt-3.px-3.rounded.mb-5
                                .col-12          
                                    .animeTitle.mb-2
                                        h2 #{anime.title}
                                    .authorDiv
                                        p Author : #{anime.author}
                                .col-12.mt-4.pb-3.px-2
                                    .personalRatingDiv.float-end.mx-3
                                        span.averageRatingDiv.bg-info.p-3.text-white Personal Rating
                                        span.averageRatingValueDiv.bg-white.text-dark.p-3 
                                            -if(anime.personalRating && anime.personalRating<=10 && anime.personalRating>0)
                                                | #{anime.personalRating}
                                            -else
                                                | -


                                    .ratingDiv.float-end.mx-3
                                        span.averageRatingDiv.bg-primary.p-3.text-white Average Rating
                                        span.averageRatingValueDiv.bg-white.text-dark.p-3
                                            -if(anime.averageRating && anime.averageRating<=10 && anime.averageRating > 0)
                                                | #{anime.averageRating}
                                            -else
                                                | -

                                    p Number of episodes : #{anime.numberOfEpisodes}


                            .row.mt-4
                                .descriptionDiv.mb-5
                                    p #{anime.description}
                            .row   
                                .genresDiv.d-flex.justify-content-start.gap-3 
                                    p Genres :
                                    each genre in anime.genres
                                        a.link-primary(href=`/${type}/genre/${genre}`) #{genre}


            .row.mt-1
                .col-12 
                    .charactersDiv.container.mt-3
                        h4 List of characters
                        .row.pt-2
                            -for(let i=0; i<8 && i<anime.characters.length; i++)
                                +mixinCharacterCard(anime.characters[i])

                -if(anime.characters.length > 8)
                    .row
                        .col-12
                            .container-fluid
                                button.col-2.rounded.btn.btn-primary(type='button' onclick=`location.href = '/${type}/characters/${anime.title}';`) See All Characters

            .row
                // Form container
                .container
                    if(!userName)
                        div.text-center.mx-auto.my-5
                            h4 You need to be logged in in order to post a comment
                    else
                        .row.add-comment-form.mt-5
                            .col-lg-4.empty-space
                            .content.col-lg-4.border.border-3.border-dark.rounded.px-4.py-3
                                div(type="button" onclick="showAddCommentForm()")
                                    h3.d-inline Add new comment

                                    span.float-end
                                        div.d-flex.align-content-center
                                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="M16 4c6.6 0 12 5.4 12 12s-5.4 12-12 12S4 22.6 4 16S9.4 4 16 4m0-2C8.3 2 2 8.3 2 16s6.3 14 14 14s14-6.3 14-14S23.7 2 16 2z"/><path fill="currentColor" d="M24 15h-7V8h-2v7H8v2h7v7h2v-7h7z"/></svg>


            .row.mt-5.pt-5
                .col-12 
                    .reviewsDiv(class=`page${page}`)
                        -for(let i=0; i<10 && i<anime.comments.length; i++)
                            +mixinComment(anime.comments[i], userName)

            .row.my-5
                .container
                    .row.d-flex.justify-content-center.g-5
                        -let prevPage = parseInt(page)-1;
                        -let nextPage = parseInt(page)+1; 
                        -if(page > 1)
                            .col-2
                                button#prevButton.col-12.btn.btn-primary.rounded(type='button' onclick=`location.href = '/${type}/${anime.title}/page/${prevPage}';`) Previous
                        -if(parseInt(anime.numberOfComments) / parseInt(page) > 8)
                            .col-2
                                button#nextButton.col-12.btn.btn-primary.rounded(type='button' onclick=`location.href = '/${type}/${anime.title}/page/${nextPage}';`) Next

            .row.pt-5

        script(src="./js/animePage.js") 
